<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Gestion des Fichiers | SQL Shield</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
    <!-- Barre latérale -->
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/static/images/logo.png" alt="Logo SQL Shield">
                </span>
                <div class="text logo-text">
                    <span class="name">SQL Shield</span>
                    <span class="profession">Security Analyzer</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Accueil</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/http">
                            <i class='bx bx-file-find icon'></i>
                            <span class="text nav-text">Logs HTTP</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/sql">
                            <i class='bx bx-shield-alt icon'></i>
                            <span class="text nav-text">Logs SQL</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/analystic">
                            <i class='bx bx-bar-chart-alt-2 icon'></i>
                            <span class="text nav-text">Analytiques</span>
                        </a>
                    </li>
                    <li class="nav-link active">
                        <a href="/files">
                            <i class='bx bx-data icon'></i>
                            <span class="text nav-text">Sources</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="/settings">
                        <i class='bx bx-cog icon'></i>
                        <span class="text nav-text">Paramètres</span>
                    </a>
                </li>
                <li class="">
                    <a href="/login">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Déconnexion</span>
                    </a>
                </li>
            </div>
        </div>
    </nav>


    <script src="/static/script.js"></script>
</body>
</html>